body{
  width: 50%;
  justify-items: center;
  align-items: center;
  margin: 0 25% 0 25%;
  background-color: #241623;
  font-family: 'Press Start 2P';
  color: #20BF55; 
}
.nav {
  display: flex;
  justify-content: space-around;
  width: 100%;
}
nav > div {
  width: 100%;
  border: 1px solid #8963BA;
  border-radius: 5px;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
}
nav>div:hover{
  cursor: pointer;
  background-color: rgb(79, 51, 106);
}

h5{
  align-items: center;
  justify-items: center;
}
img{
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 75%;
  background-color: transparent;
  height: 300px;
}
#nav-stats{
width: 100%;

}

#happyBar {
  width: 78%;
  height: 15px;
  background-color: black;
  text-align: center;
  line-height: 20px;
  border: 2px solid black;
  padding-left: 10px;
  float: right;
}
#angerBar {
  width: 78%;
  height: 15px;
  background-color: black;
  text-align: center;
  line-height: 20px;
  border: 2px solid black;
  padding-left: 10px;
  float: right;
}
#sleepBar {
  width: 78%;
  height: 15px;
  background-color: black;
  text-align: center;
  line-height: 20px;
  border: 2px solid black;
  padding-left: 10px;
  float: right;
}
#hungerBar {
  width: 78%;
  height: 15px;
  background-color: black;
  text-align: center;
  line-height: 20px;
  border: 2px solid black;
  padding-left: 10px;
  float: right;
}

li > span {
  float:left;
  text-align: center;
  border: 1px solid black;
}
li{
  list-style: none;
  margin-top: 20px;
}
#nav-stats{
  font-size: 20px;
}
#mood-stats{
  font-size: 40px;
  text-align: center;
}
h6{
  text-align: right; 
}
h1{
  text-align: center;
}
h4{
  border: 5px dashed #8963BA; 
  padding: 15px; 
}
#startbtn{
margin-top: 40px;
width: 20%;
line-height: 30px;
background-color: #8963BA;
border-radius: 7px;
color: #20BF55; 
font-size: 20px;
font-family: 'Press Start 2P';
}
#startbtn:hover{
  background-color: #9e8fb1;
  }