body{
  width: 50%;
  justify-items: center;
  align-items: center;
  margin: 0 25% 0 25%;
  background-color: #241623;
  font-family: 'Press Start 2P';
  color: #20BF55; 
}
.nav {
  display: flex;
  justify-content: space-around;
  width: 100%;
}
nav > div {
  width: 100%;
  border: 1px solid #8963BA;
  border-radius: 5px;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
}
nav>div:hover{
  cursor: pointer;
  background-color: rgb(79, 51, 106);
}

h5{
  align-items: center;
  justify-items: center;
}
img{
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 75%;
  background-color: transparent;
  height: 300px;
}
#nav-stats{
width: 100%;

}

#happyBar {
  width: 78%;
  height: 15px;
  background-color: green;
  text-align: center;
  line-height: 20px;
  border: 2px solid black;
  padding-left: 10px;
  float: right;
}
#angerBar {
  width: 78%;
  height: 15px;
  background-color: green;
  text-align: center;
  line-height: 20px;
  border: 2px solid black;
  padding-left: 10px;
  float: right;
}
#sleepBar {
  width: 78%;
  height: 15px;
  background-color: green;
  text-align: center;
  line-height: 20px;
  border: 2px solid black;
  padding-left: 10px;
  float: right;
}
#hungerBar {
  width: 78%;
  height: 15px;
  background-color: green;
  text-align: center;
  line-height: 20px;
  border: 2px solid black;
  padding-left: 10px;
  float: right;
}

li > span {
  float:left;
  text-align: center;
  border: 1px solid black;
}
li{
  list-style: none;
  margin-top: 20px;
}
#nav-stats{
  font-size: 20px;
}
#mood-stats{
  font-size: 30px;
  
}
h6{
  text-align: center; 
  font-family: 'Orbitron', sans-serif;
  font-size: 20px;
  margin-bottom: 0px;
}
h1{
  text-align: center;
  font-size: 50px;
}
h4{
  border: 5px dashed #8963BA; 
  padding: 15px; 
}
button{
margin-top: 10px;
margin-left: auto;
margin-right: auto;
width: 30%;
background-color: #8963BA;
border-radius: 7px;
color: #20BF55; 
font-size: 20px;
font-family: 'Press Start 2P';
align-items: center;
text-align: center;
}
button:hover{
  background-color: #9e8fb1;
  }
input{
  height: 40px;
  width: 10%px; 
font-family: 'Orbitron', sans-serif; 
background-color: #4bbf72;
border-radius: 2px;
margin-right: 10px;
}
.nameInput>button{
  height: 50px;
  width: 100px;
font-size:10px ;
}
.nameInput{
  text-align: center;
  margin-bottom: 0px;
}